.createTodo-item{
  width:600px;
  height: 55px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #aaa;
  padding: 0px 20px;
  margin-bottom: 10px;
}
.createTodo-item h4{
  font-size: 22px;
}
.createTodo-item span{
  font-size: 15px;
  font-weight: 400;

}
.createTodo-item button:first-of-type{
  border: 2px solid red !important; 
  
}
.createTodo-item button{
  background: transparent;
  padding: 5px;
  border: 2px solid #07C7A4;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.createTodo-item button:first-of-type:hover{
  background-color: rgb(240, 10, 56);
  color: #fff;
}
.createTodo-item button:last-of-type:hover{
  background-color: #07C7A4;
  color: #fff;

}